<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DormDynamo"
        tools:targetApi="31">
        <activity
            android:name=".warden.CheckStudentDetails"
            android:exported="false" />
        <activity
            android:name=".student.StudentSelectedDetails"
            android:exported="false" />
        <activity
            android:name=".warden.WardenLogin"
            android:exported="false" />
        <activity
            android:name=".student.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".student.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".GlobalLogin"
            android:exported="false" />
        <activity
            android:name=".student.StudentRegister"
            android:exported="false" />
        <activity
            android:name=".warden.WardenDashboard"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>